@mixin footer-bg-definicao {
  height: 100%;
  color: var(--white-color);
  background-color: var(--white-color);
  padding-top: 40px;
}
.footer-bg {
  @include footer-bg-definicao();
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
}
.footer-conteudo > img {
  margin-left: 160px;
}
@mixin footer-Conteudo-definicao {
  display: grid;
  grid-template-columns: 1fr 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.footer-conteudo {
  @include footer-Conteudo-definicao();
}

@mixin footer-contato-titulo {
  border-left: 1px solid var(--black-color);
  padding-left: 10px;
  margin-bottom: 10px;
}
.footer-contato ul h3 {
  @include footer-contato-titulo();
}

@mixin footer-definicoes-text {
  text-align: left;
  color: var(--black-color);
  font-weight: bold;
  font-family: "Poppins", Arial, Helvetica, serif;
}
.footer-contato ul,
li,
a {
  @include footer-definicoes-text();
}

.footer-redes {
  margin-top: 15px;
}
@mixin footer-icons-definicoes {
  color: var(--black-color);
  width: 28px;
  height: 28px;
  margin-right: 16px;
}
.footer-conteudo .footer-redes svg {
  @include footer-icons-definicoes();
}

.footer-container .footer-direitos {
  text-align: center;
  margin: 0px;
  padding: 20px;
  background-color: var(--black-color);
}

@media (max-width: 800px) {
  .footer-bg {
    width: 100%;
    height: 100%;
  }

  .footer-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 30px;
  }

  .footer-conteudo > img {
    margin: 10px;
    filter: hue-rotate(90deg);
  }
}

@media (max-width: 600px) {
  .footer-bg {
    width: 100%;
    height: 100%;
  }

  .footer-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-left: auto;
    margin-right: auto;
    margin-right: 15px;
  }

  .footer-conteudo > img {
    margin: 10px;
    filter: hue-rotate(90deg);
  }
}
