@mixin sobre-bg-definicao {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--black-color);
  height: 100vh;
  margin-top: 140px;
  margin-bottom: 140px;
}
.sobre-bg {
  @include sobre-bg-definicao();
}
.sobre-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px;
}
.sobre-conteudo {
  display: grid;
  grid-template-columns: 560px 1fr;
}

.sobre-euLeft {
  margin-left: auto;
  margin-right: auto;
  grid-column: 1;
}
.sobre-euLeft img {
  width: 100%;
}
/* ------------------------------- */
/* CONTAINER DENTRO DO CONTEUDO DO SOBRE */
.sobre-euCont {
  display: flex;
  justify-content: space-between;
}
/* LADO DIREITO DO SOBRE CONTAINER */
.sobre-euRight {
  padding: 10px 60px;
  grid-column: 2;
}
/* TITULO DO LADO DIREITO DO SOBRE */
@mixin titulo-sobreright {
  font-size: 4rem;
  max-width: 1600px;
  color: var(--purple-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-family: "Roboto", Arial, Helvetica, serif;
  display: flex;
}
.sobre-euRight h1 {
  @include titulo-sobreright();
}
/* PSEUDO CLASSE NO TITULO */
.sobre-euRight h1::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 4px;
  background-color: var(--red-color);
  align-self: center;
  align-items: center;
  margin-right: 10px;
}

/* IMAGEM CUBO AO LADO DO TITULO NO LADO DIREITO*/
.sobre-euRight img {
  width: 16px;
  margin-left: 4px;
  align-items: center;
  align-self: center;
}

/* CARD NA AREA SOBRE */
@mixin sobreeu-card-definicao {
  max-width: 360px;
  padding: 10px;
  color: var(--white-color);
}
.sobre-euCard {
  @include sobreeu-card-definicao();
}

/* DESCRICAO DO CARD APOS SUBTITULO */
@mixin descricao-card-sobre-definicao {
  font-size: 1.1rem;
  color: var(--white-color);
  font-family: "Poppins", Arial, Helvetica, serif;
}
.sobre-euCard p {
  @include descricao-card-sobre-definicao();
}

/* CARD DE HABILIDADES */
.sobre-euCard ul {
  display: flex;
}

/* IMAGENS DAS LINGUAGENS NO CARD */
@mixin definicoes-cardSobre {
  width: 68px;
  height: 68px;
  filter: invert(0);
  margin-bottom: 10px;
}
.sobre-euCard .euCard-imagem {
  @include definicoes-cardSobre();
}

/* IMAGENS DE LINGUAGENS NAO APRENDIDAS AINDA */
@mixin card-not {
  filter: grayscale(100%);
  opacity: 1;
  cursor: pointer;
}
.sobre-euCard .not {
  @include card-not();
}

/* SUBTITULO: NOME, SKILL, CURIOSIDADE */
.sobre-euCard h2 {
  color: var(--white--full);
  margin: 20px 0px 10px 0px;
}

/* OL DO CARD PRAS IMAGENS DAS LINGUAGENS */
.sobre-euCard ol {
  max-width: 350px;
}
/* LI DAS IMAGENS DAS LINGUAGENS */
@mixin subtitulo-curiosidade {
  color: var(--white-color);
  padding-bottom: 10px;
  font-size: 1.1rem;
  font-weight: normal;
}
.sobre-euCard ol li {
  @include subtitulo-curiosidade();
}

@media (max-width: 800px) {
  .sobre-bg {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .sobre-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
  }

  .sobre-conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sobre-euLeft {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1;
  }
  .sobre-euLeft img {
    width: 400px;
    justify-content: center;
  }

  .sobre-euCont {
    display: block;
    justify-content: center;
  }
  /* LADO DIREITO DO SOBRE CONTAINER */
  .sobre-euRight {
    padding: 10px 0px;
    grid-column: 1;
  }
  /* TITULO "SOBRE MIM" */
  .sobre-euRight h1 {
    font-size: 2.8rem;
    padding-left: 10px;
    color: var(--red-color);
  }
  /* PSEUDO CLASSE NO TITULO */
  .sobre-euRight h1::before {
    background-color: var(--purple-color);
  }

  .sobre-euCard {
    max-width: 100%;
    padding: 10px;
  }

  .sobre-euCard p {
    font-size: 1.25rem;
  }

  .sobre-euCard .euCard-imagem {
    width: 48px;
    height: 48px;
  }

  .sobre-euCard ul li {
    padding-right: 80px;
  }

  .sobre-euCard ol {
    max-width: 100%;
  }
  .sobre-euCard ol li {
    padding-bottom: 5px;
    font-size: 1.25rem;
    font-weight: normal;
  }
}

@media (max-width: 600px) {
  .sobre-bg {
    height: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .sobre-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
  }

  .sobre-conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sobre-euLeft {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1;
  }
  .sobre-euLeft img {
    width: 300px;
    justify-content: center;
  }

  .sobre-euCont {
    display: block;
    justify-content: center;
  }
  /* LADO DIREITO DO SOBRE CONTAINER */
  .sobre-euRight {
    padding: 10px 0px;
    grid-column: 1;
  }
  /* TITULO "SOBRE MIM" */
  .sobre-euRight h1 {
    font-size: 2rem;
    padding-left: 10px;
    color: var(--red-color);
  }
  /* PSEUDO CLASSE NO TITULO */
  .sobre-euRight h1::before {
    background-color: var(--purple-color);
  }

  .sobre-euCard {
    max-width: 100%;
    padding: 10px;
  }

  .sobre-euCard p {
    font-size: 1rem;
  }

  .sobre-euCard .euCard-imagem {
    width: 48px;
    height: 48px;
  }

  .sobre-euCard ul li {
    justify-content: start;
    padding-right: 40px;
  }

  .sobre-euCard ol {
    max-width: 100%;
  }
  .sobre-euCard ol li {
    padding-bottom: 5px;
    font-size: 1rem;
    font-weight: normal;
  }
}
