/*CONFIGURA CORES PARA CHAMAR COM A VARIAVEL*/
:root {
  --cor-hover: #2b2b2b;
  --cor-0: #000000;
  --cor-1: #0e0e12;
  --cor-2: #0e0c0c;
  --cor-3: #161616;
  --cor-4: #1d1d24;
  --cor-5: #555555;
  --cor-6: #cfd0d1;
  --cor-7: #f9f9fc;
  --cor-8: #c9c9c9;
  --cor-9: #c6c6da;
  --cor-10: #ffffff;
  --cor-11: #f2000d;
  --cor-12: #fdb4bf;
  --cor-13: #5e3aee;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-13 {
  color: var(--cor-13);
}
