body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: var(--cor-6);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--cor-3);
}

#tooltipSkill {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
/* COMECA NA ESQUERDA */
.hidden {
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-100%);
  opacity: 0;
}
/* VAI PRO LOCAL INICIAL */
.show {
  filter: blur(0px);
  transition: all 1s;
  transform: translateX(0);
  opacity: 1;
}

/* COMECA DE BAIXO */
.hidden2 {
  filter: blur(15px);
  transition: all 1s;
  transform: translateY(50%);
  opacity: 0;
}
/* VAI PRA CIMA */
.show2 {
  filter: blur(0px);
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
