body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: var(--cor-6);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--cor-3);
}

#tooltipSkill {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
/* COMECA NA ESQUERDA */
.animated_left {
  transition: all 1s;
  transform: translateX(-100%);
  opacity: 0;
}
/* VAI PRO LOCAL INICIAL */
.show_left {
  transition: all 1s;
  transform: translateX(0);
  opacity: 1;
}

/* COMECA DE BAIXO */
.animated_top {
  transition: all 1s;
  transform: translateY(40%);
  opacity: 0;
}
/* VAI PRA CIMA */
.show_top {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 500px) {
  /* COMECA DE BAIXO */
  .animated_top {
    transition: all 1s;
    transform: translateY(10%);
    opacity: 0;
  }
  /* VAI PRA CIMA */
  .show_top {
    transition: all 1s;
    transform: translateY(0);
    opacity: 1;
  }
}
