.experiencia-bg {
  height: 89vh;
  padding: 60px 0px;
  background-size: cover;
  background-image: url(/Assets/imgs/bg-xp.webp);
}

.experiencia-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
.experiencia-conteudo {
  max-width: 1600px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CONTAINER DOS CARDS */
.experiencia-conteudo .xp-cards {
  width: 600px;
  height: auto;
  margin: 10px;
}

.xp-cards :nth-child(2) {
  transition-delay: 400ms;
}
.xp-cards :nth-child(1) {
  transition-delay: 600ms;
}
.experiencia-conteudo .xp-left,
.xp-right {
  overflow: hidden;
  padding: 20px;
  margin: 20px;
  border: 4px solid var(--cor-3);
  width: auto;
  height: auto;
  background-color: var(--cor-10);
}
.xp-left ul li .icon {
  display: flex;
}
.xp-right ul li .icon {
  display: flex;
}

/* ITEMS DA ESQUERDA */
.xp-left > h1 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--cor-8);
}
.xp-left ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.xp-left ul li {
  gap: 10px;
  max-width: 220px;
  display: flex;
  margin: 10px;
}

/* ITEMS DA DIREITA - TITLE MAIN   */
.xp-right > h1 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--cor-8);
}
.xp-right ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.xp-right ul li {
  max-width: 220px;
  gap: 10px;
  display: flex;
  margin: 10px;
}

@media (max-width: 1200px) {
  .experiencia-bg {
    height: auto;
  }
  .experiencia-conteudo {
    margin: 40px;
    padding: 20px;
  }
  .experiencia-conteudo .xp-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experiencia-conteudo .xp-left,
  .xp-right {
    overflow: hidden;
    padding: 30px;
    width: auto;
    height: auto;
  }
}
@media (max-width: 800px) {
  .experiencia-bg {
    height: auto;
  }
  .experiencia-conteudo {
    margin: 20px auto;
    padding: 0px;
  }
  .experiencia-conteudo .xp-cards {
    width: auto;
    height: auto;
    gap: 0px;
    margin: 10px;
  }
  .experiencia-conteudo .xp-left,
  .xp-right {
    overflow: hidden;
    margin: 10px;
    width: auto;
    height: auto;
  }
  .xp-left ul {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .xp-left ul li {
    width: auto;
    margin: 6px;
  }
  .xp-right ul {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .xp-right ul li {
    width: auto;
    margin: 6px;
  }
  .xp-left .text-xp h1 {
    font-size: 1rem;
  }
  .xp-right .text-xp h1 {
    font-size: 1rem;
  }
  .text-xp p {
    flex-wrap: wrap;
  }
  .xp-left .text-xp p {
    font-size: 0.85rem;
  }
  .xp-right .text-xp p {
    font-size: 0.85rem;
  }
}

@media (max-width: 500px) {
  .experiencia-bg {
    padding: 30px 0px;
    height: auto;
  }
  .experiencia-container .text-area h1 {
    font-size: 2rem;
  }
  .experiencia-conteudo {
    margin: 20px auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .experiencia-conteudo .xp-left,
  .xp-right {
    overflow: hidden;
    margin: 10px;
    width: auto;
    height: auto;
  }
}
