@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.introducao-bg {
  background-color: var(--cor-10);
  height: 90vh;
  overflow: hidden;
}
.introducao-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
/* CONTAINER DAS CARACTERISTICAS */
.profile-conteudo {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXTOS A ESQUERDA NA INTRODUCAO */
.info-profile {
  width: 400px;
  text-align: center;
  position: relative;
}
.profile-imagem {
  background-color: var(--cor-9);
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.profile-imagem img {
  width: 100%;
}

/* CONTAINER DOS BOTOES */
.info-profile .btn-area {
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SO ESTILO BOTAO DA INTRODUCAO */
.btn-area button {
  width: 140px;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
}
.btn-area button img {
  margin-right: 6px;
}
.btn-area .arroba {
  filter: invert();
}

.btn-area .btn-curriculo {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cor-3);
  transition: 0.4s ease-in-out;
}
.btn-area .btn-curriculo:hover {
  background-color: var(--cor-7);
  border: 1px solid var(--cor-3);
}
.btn-area .btn-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cor-10);
  background-color: var(--cor-3);
  transition: 0.4s ease-in-out;
}
.btn-area .btn-contato:hover {
  background-color: var(--cor-hover);
}
/* CONTAINER DE ICONES */
.icons-area {
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;
}
.icons-area a {
  margin: 0px 10px;
}

.title::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.8s infinite;
}
.info-profile .title::before {
  content: "";
  width: 100px;
  height: 6px;
  position: absolute;
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-10);
    height: 80vh;
    overflow: hidden;
  }

  .profile-conteudo {
    height: 65vh;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .profile-imagem {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .profile-imagem img {
    width: 300px;
    height: 300px;
  }
  .info-profile {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    position: relative;
  }
  .info-profile h3 {
    font-size: 1.5rem;
  }
  .info-profile .title {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .profile-imagem {
    background-color: var(--cor-9);
    border-radius: 50%;
  }
  .profile-imagem img {
    width: 300px;
    height: 300px;
  }
}
