@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.introducao-bg {
  height: 90vh;
  width: 100%;
  background-color: var(--cor-13);
  /* background-color: #f2f2f2; */
  overflow: hidden;
}

.introducao-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 70px;
  padding-bottom: 100px;
  border: 4px solid var(--cor-3);
  background-color: var(--cor-10);
}
.introducao-container .barra {
  height: 100px;
  background-color: var(--cor-6);
  border-bottom: 4px solid var(--cor-3);
}
/* CONTAINER DE TUDO */
.profile-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
}
/* QUADRO DA IMAGEM PROFILE */
.quadro1 {
  width: 400px;
  height: 400px;
  overflow: hidden;
  box-shadow: 4px 4px 0px var(--cor-3);
  background-color: var(--cor-6);
  border: 4px solid var(--cor-3);
}
.quadro1 img {
  width: 100%;
  margin-top: 40px;
  scale: 1.2;
  filter: grayscale(90%);
}
#tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
/* QUADRO COM DESCRICAO BREVE */
.quadro2 {
  width: 400px;
  text-align: center;
}
/* CONTAINER DOS BOTOES */
.quadro2 .btn-area {
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* SO ESTILO BOTAO DA INTRODUCAO */
.btn-area button {
  width: 140px;
  padding: 15px;
  box-shadow: 4px 4px 0px var(--cor-3);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-area button:hover {
  box-shadow: 0px 0px 0px var(--cor-3);
}
.btn-area button img {
  margin-right: 6px;
}
.btn-area .arroba {
  filter: invert();
}
.btn-area .btn-curriculo {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cor-3);
  transition: 0.4s ease-in-out;
}
.btn-area .btn-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cor-10);
  background-color: var(--cor-12);
  transition: 0.4s ease-in-out;
}
/* CONTAINER DE ICONES */
.quadro2 .icons-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.icons-area a {
  margin-right: 10px;
}

.title::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.8s infinite;
}
.info-profile .title::before {
  content: "";
  width: 100px;
  height: 6px;
  position: absolute;
}

@media (max-width: 800px) {
  .introducao-bg {
    height: auto;
    overflow: hidden;
  }
  .introducao-container {
    height: 600px;
    margin: 20px;
    padding-bottom: 70px;
  }
  .introducao-container .barra {
    height: 40px;
  }
  .profile-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
  .quadro1 {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .quadro1 img {
    width: 300px;
    height: 300px;
  }
  .quadro2 {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    position: relative;
  }
  .quadro2 h3 {
    font-size: 1.5rem;
  }
  .quadro2 .title {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .introducao-bg {
    height: 100vh;
    overflow: hidden;
  }
  .introducao-container {
    height: auto;
    margin: 30px 10px;
  }
  .quadro1 {
    width: 270px;
    height: 270px;
  }
  .quadro1 img {
    width: 100%;
    height: 100%;
  }
  .quadro2 p {
    font-size: 1.5rem;
  }
  .quadro2 .title {
    font-size: 2rem;
  }
  .btn-area button {
    width: auto;
  }
}

@media (max-width: 400px) {
  .introducao-bg {
    height: auto;
    overflow: hidden;
  }
  .introducao-container {
    height: auto;
    margin: 20px 10px;
    padding-bottom: 30px;
  }
  .profile-conteudo {
    gap: 20px;
    padding-top: 30px;
  }
  .quadro1 {
    width: 270px;
    height: 240px;
  }
  .quadro1 img {
    width: 270px;
    height: auto;
  }
}
