.projetos-bg {
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  padding: 60px 0px;
}

.projetos-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  position: relative;
}

.projetos-conteudo {
  max-width: 1600px;
  margin-top: 60px;
}

.projetos-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 40px;
}
.projetos-cards .card-item {
  border-radius: 30px;
  padding: 20px;
  border: 1px solid var(--cor-8);
  background-color: var(--cor-7);
  max-width: 500px;
  max-height: 600px;
  flex-wrap: wrap;
  text-align: center;
}

.card-item .area-imagem {
  overflow: hidden;
  border-radius: 10px;
  margin: 20px 40px;
  height: 400px;
  background-color: var(--cor-9);
}
.area-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.area-imagem #projeto1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.area-imagem #projeto3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.card-item .area-button {
  max-width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.area-button button {
  cursor: pointer;
  min-width: 130px;
  border: 1px solid var(--cor-8);
  border-radius: 30px;
  background-color: var(--cor-10);
  padding: 10px 20px;
  transition: 0.4s ease-in-out;
}
.area-button button:hover {
  background-color: var(--cor-7);
}

@media (max-width: 1200px) {
  .projetos-bg {
    height: auto;
    padding-top: 60px;
  }
  .projetos-conteudo {
    max-width: 1600px;
    margin-top: 20px;
    width: 100%;
  }
  .projetos-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
  }
  .projetos-cards .card-item {
    border-radius: 30px;
    margin: 0px 10px;
    max-width: 400px;
    height: 400px;
    text-align: center;
  }
  .card-item .area-imagem {
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
    width: auto;
    height: 280px;
  }
  .card-item .area-imagem img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .projetos-bg {
    height: auto;
  }
  .projetos-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .projetos-cards .card-item {
    border-radius: 30px;
    margin: 0px 10px;
    width: auto;
    height: 400px;
    text-align: center;
  }
  .card-item .area-imagem {
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
    width: auto;
    height: 290px;
  }
}
